/pids
/logs
/node_modules
/npm-debug.log
/coverage
/dist
/.nyc_output
/.basement
/config/config.local.js
/src/.umi
/src/.umi-production
/yarn.lock
/.parcel-cache
/.eslintcache
/.cache

yarn-error.log
.DS_Store
*bak